.colorAzul {
  color:blue;
}

body {
  background-color: #f5ebdc;
}

.colorFondo {
  background-color: #f5ebdc;
}

.colorNavBar {
  color:#724c3d;
  font-weight: bold;
}

.fondoBlanco {
  background-color: white;
}

.colorNombreProducto {
  color:#502314;
}