.colorAzul {
  color:blue;
}

body {
  /*background-color: #f5ebdc;*/
  background-color: black;
  color: white;
  font-size: 11px;
}

.colorFondo {
  background-color: #f5ebdc;
}

.colorNavBar {
  color:#724c3d;
  font-weight: bold;
  padding: 5px;
}

.fondoNegro {
  color: white;
  background-color: black;
  padding: 5px;
}

.colorNombreProducto {
  color:#502314;
}

.colorBoton {
  color: white;
  background-color: #502314;
}

table > tr > td .table {
  background-color: #f5ebdc;
}